<stats *ngIf="todos" [todos]="todos" (filterChange)="updateFilter($event)"></stats>
<h1>TodoList</h1>
<button (click)="filter = !filter">filter</button>
<p></p>
<ul>
  <div *ngFor="let todo of showTodos | sort : filter">
    <li [class.hidden]="showfilter(todo)">
      <input type="checkbox" (ngModelChange)="markTodo($event,todo)" [(ngModel)]="todo.selected" ngModel required/> {{ todo.name }}
      <button (click)="edit(todo)">Edit</button>
    </li>
  </div>
</ul>
<button (click)="add()">add</button>
